<h1><%= @post.title %></h1>
<!--<small><%= @post.created_at.strftime('%b %d. %Y') %></small>-->
<small><%= @post.created_at.to_s(:rfc822) %></small>
<p><%= @post.body %></p>
<p>Category: <%= link_to @post.category.name, category_path(:id => @post.category.id) %></p>
<p><%= link_to 'Back', post_path %></p>

<p>
<% if false %>
<%= link_to 'Edit Post', edit_post_path %> | <%= link_to 'Delete',@post, :confirm => 'Are you sure want to delete?', :method => :delete %>
<% end %>
</p>