<h1><%= @post.title %></h1>
<small><%= @post.created_at.strftime('%b %d. %Y') %></small>
<p><%= @post.body %></p>
<%= link_to 'Edit Post', edit_post_path %> | <%= link_to 'Delete',@post, :confirm => 'Are you sure want to delete?', :method => :delete %>
